---
layout: base.njk
---
<nav>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <h1>{{title}}</h1>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</nav>
<div class="slideshow-container">

{% for images in images %}
    <div class="slide-container">
        <img src="{{images.slide}}">
        <div class="text-container">
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <div class="slide-number"> {{loop.index}} / {{loop.length}}</div>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div>
{% endfor %}
        
</div>


<script src="/assets/main.js">
</script>