---
layout: base.njk
---
<div class="slideshow-container">
{% for i in range(1,12) %}

    <div class="slide-container">
        <img src="/assets/img/My Story0{{i}}.jpg">
        <div class="text-container">
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <div class="slide-number"> {{i}} / 11</div>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div>
{% endfor %}
    
    
    
</div>


<script src="/assets/main.js">
</script>
