body {
    margin: 0;
    background-color: black;
}
.slide-container {
    width: 100%;
    height: auto;
}
img {
    width: 100%;
}
.text-container {
    color: white;
    text-align: center;
}
.slide-number {
    display: inline-block;
}
.prev, .next {
    cursor: pointer;
    display: inline-block;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;

}
